test/data/schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/aristov/schedule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schedule" type="sch:scheduleType" xmlns:sch="https://github.com/aristov/schedule"/>
    <xs:complexType name="scheduleType">
        <xs:sequence>
            <xs:element type="sch:reserveType" name="reserve" maxOccurs="unbounded" minOccurs="0" xmlns:sch="https://github.com/aristov/schedule"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="reserveType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="time" use="optional"/>
                <xs:attribute type="xs:string" name="duration" use="optional"/>
                <xs:attribute type="xs:string" name="detail" use="optional"/>
                <xs:attribute type="xs:string" name="status" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
